{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="static/script/paymentPagination.js" defer></script>
<script src="static/script/paymentApprovalSort.js"></script>
<script src="static/script/paymentFilter.js"></script>

{% endblock %}
{% block content %}

<body id="payment-paid-list_page">

    {% include "_card-tableCustom.html" %}

    <div id="sortCol-1" hidden>{{ sort_col['col_1'][0] }}#{{ sort_col['col_1'][1] }}</div>
    <div id="sortCol-1_val" hidden>{{ sort_col['col_1'][2] }}</div>
    <div id="sortCol-id_val" hidden>{{ sort_col['col_id']}}</div>

    <div class="tpages_top_panel">
        <h1><img src="static/img/h1/paymentpaidlist.png"> {{title}}</h1>


        <div id="payment-approval__menu">
            <div class="not_form_button"><a href="payment-approval">Согласование платежей</a></div>
            <div class="not_form_button"><a href="payment-approval-list">Согласованные платежи</a> </div>
            <div class="not_form_button focus_button">Оплаченные платежи</div>
        </div>
    </div>


    <div class="paymentFormBtn">
        <button type="button" id="visualTablePA" onclick="window['tableCustom'].showModal();"><img src="static/img/interface/setting.png"> Отображение
            таблицы</button>
    </div>
    <div class="tableR">
        <form id="paymentForm" style="align-self: flex-start">

            <table id="payment-table" name="payment_table" class="display">
                <thead class="fix_thead">
                    <tr>
                        <th class="th_nnumber" {% if '0' in setting_users %}hidden{% endif %}>
                            <div onclick="sortTable(0, 'num')">№&nbsp;<span class="arrow_sort"></span></div>
                            <input type="text" id="filter-input-0" hidden readonly>
                        </th>
                        <th class="th_category" {% if '1' in setting_users %}hidden{% endif %}>
                            <div onclick="sortTable(1, 'num')">№ ПЛАТЕЖА&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-1" onchange="filterTable()">
                        </th>
                        <th class="th_category" {% if '2' in setting_users %}hidden{% endif %}>
                            <div onclick="sortTable(2, 'str')">СТАТЬЯ ЗАТРАТ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-2" onchange="filterTable()">
                        </th>
                        <th class="th_name" {% if '3' in setting_users %}hidden{% endif %}>
                            <div onclick="sortTable(3, 'str')">НАИМЕНОВАНИЕ ПЛАТЕЖА&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-3" onchange="filterTable()">
                        </th>
                        <th class="th_description" {% if '4' in setting_users %}hidden{% endif %}>
                            <div onclick="sortTable(4, 'str')">ОПИСАНИЕ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-4" onchange="filterTable()">
                        </th>
                        <th class="th_object" {% if '5' in setting_users %}hidden{% endif %}>
                            <div onclick="sortTable(5, 'str')">ОБЪЕКТ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-5" onchange="filterTable()">
                        </th>
                        <th class="th_responsible" {% if '6' in setting_users %}hidden{% endif %}>
                            <div onclick="sortTable(6, 'str')">ОТВЕТСТВЕННЫЙ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-6" onchange="filterTable()">
                        </th>
                        <th class="th_contractor" {% if '7' in setting_users %}hidden{% endif %}>
                            <div onclick="sortTable(7, 'str')">КОНТРАГЕНТ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-7" onchange="filterTable()">
                        </th>
                        <th class="th_main_sum" {% if '8' in setting_users %}hidden{% endif %}>
                            <div onclick="sortTable(8, 'num')">ОБЩАЯ СУММА&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-8" onchange="filterTable()">
                        </th>
                        <th class="th_sum_agreed" {% if '9' in setting_users %}hidden{% endif %}>
                            <div onclick="sortTable(9, 'num')">СОГЛАСОВАННАЯ СУММА&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-9" onchange="filterTable()">
                        </th>
                        <th class="th_sum_paid" {% if '10' in setting_users %}hidden{% endif %}>
                            <div onclick="sortTable(10, 'num')">ОПЛАЧЕННАЯ СУММА&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-10" onchange="filterTable()">
                        </th>
                        <th class="th_pay_date" {% if '11' in setting_users %}hidden{% endif %}>
                            <div onclick="sortTable(11, 'str')">СРОК ОПЛАТЫ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-11" onchange="filterTable()">
                        </th>
                        <th class="th_date_create" {% if '12' in setting_users %}hidden{% endif %}>
                            <div onclick="sortTable(12, 'str')">ДАТА СОЗДАНИЯ&nbsp;<span class="arrow_sort">▼</span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-12" onchange="filterTable()">
                        </th>
                        <th class="th_last_pay_status" {% if '13' in setting_users %}hidden{% endif %}>
                            <div onclick="sortTable(13, 'str')">СТАТУС ПОСЛЕДНЕЙ ОПЛАТЫ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-13" onchange="filterTable()">
                        </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </form>
    </div>
</body>

{% endblock %}